@import "variables";
@import "reset";
@import "mixins";
@import "header";
@import "hero";
@import "controller";
@import "games";
@import "faq";
@import "footer";
@import "responsive";

.container {
  width: $desktop-width;
  margin: 0 auto;
}

@include largeDevices {
  .container {
    width: $mobile-width;
  }
}

.highlight {
  color: $brand-color;
}

.show {
  display: block;
}

.down {
  transform: rotate(180deg);
}
