.hero {
  background: linear-gradient(rgba($dark-color, 1), rgba($dark-color, 0.3)),
    url("../images/background.jpg") no-repeat center top;
  background-size: cover;
  position: relative;

  .hero__header {
    text-align: center;

    h2 {
      font-weight: 700;
      font-size: 2rem;
      color: $light-color;
      text-transform: uppercase;
    }

    h1 {
      font-size: 9.6rem;
      font-weight: 700;
      color: $light-color;
      text-transform: uppercase;
      margin-top: 3.5rem;
    }
  }

  .hero__content {
    display: flex;
    column-gap: 7rem;
    margin: 32rem auto 0 auto;
    justify-content: center;
  }

  &__image {
    img {
      border-radius: 2rem;
      width: 184px;
      height: 294px;
      object-fit: cover;
    }
  }

  .movie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;

    &__sinopse {
      font-weight: 400;
      font-size: 2rem;
      color: $light-color;
      line-height: 3.2rem;
    }
  }

  .movie__info {
    display: flex;
    // margin-top: 4.5rem;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 6rem;
    row-gap: 1rem;

    .movie__time {
      display: flex;
      align-items: center;
      column-gap: 1.4rem;

      i {
        font-size: 2.5rem;
        color: $light-color;
      }

      p {
        font-weight: 700;
        font-size: 2.4rem;
        color: $light-color;
      }
    }

    .movie__review {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      i {
        font-size: 3.3rem;
        color: $golden-color;
      }

      i.empty {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .movie__date {
      font-weight: 700;
      font-size: 2.4rem;
      color: $light-color;
    }
  }

  .movie__btns {
    display: flex;
    column-gap: 2rem;
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $light-color;
      background: $blue-color;
      text-transform: uppercase;
      padding: 1.5rem 2rem;
      border-radius: 3px;
      font-weight: 700;
      letter-spacing: 0.1rem;
      text-align: center;

      &.trailer {
        background: $dark-color;
        border: 1px solid $light-color;
      }
    }
  }
}
