@mixin button($background, $color) {
  background: $background;
  color: $color;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  outline: 1px solid $dark-opacity;
  border-radius: 0.6rem;
  font-size: 2.4rem;
  font-weight: 600;
}

@mixin large-devices {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin medium-devices {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin small-devices {
  @media screen and (max-width: 425px) {
    @content;
  }
}
