@include largeDevices {
  .games {
    &__card {
      position: relative;
      .card-logo {
        position: absolute;
        bottom: 7%;
        left: 10%;
        width: 200px;
      }

      .card-logo.fifa {
        left: 10%;
      }
    }
  }
}

@include mediumDevices {
  .header {
    &__nav {
      display: flex;
      flex-direction: column;

      ul {
        margin-top: 2.4rem;
        margin-bottom: 5.5rem;
        display: flex;
        gap: 4.8rem;

        li {
          text-transform: uppercase;
          padding: 0.6rem 1rem;
          background: rgba(103, 103, 103, 0.39);
          border-radius: 50px;
        }
      }

      .header__action {
        text-transform: uppercase;
        padding: 2.1rem 3rem;
        background: $brand-color;
        color: $dark-10;
        font-size: 1.5rem;
        font-weight: 700;
        width: 100%;
        text-align: center;
      }
    }
  }

  .controller {
    flex-direction: column;
    text-align: center;
  }

  .games {
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;

    &__card {
      position: relative;
      .card-logo {
        position: absolute;
        bottom: 7%;
        left: 30%;
        width: 300px;
      }

      .card-logo.fifa {
        left: 30%;
      }
    }
  }

  .faq {
    h2 {
      font-size: 4.8rem;
      margin-bottom: 6rem;
    }

    &__card {
      h3 {
        font-size: 2rem;
        font-weight: 500;
      }

      .card-answer {
        p {
          color: $dark-30;
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
    }
  }

  .footer {
    &__rights {
      flex-direction: column;
      gap: 0.5rem;

      p {
        &:nth-child(1) {
          text-align: right;
        }
      }
    }
  }
}

@include smallDevices {
  .header {
    &__nav {
      display: flex;
      flex-direction: column;

      ul {
        margin-top: 2.4rem;
        margin-bottom: 5.5rem;
        display: flex;
        gap: 2rem;

        li {
          text-transform: uppercase;
          padding: 0.6rem 1rem;
          background: rgba(103, 103, 103, 0.39);
          border-radius: 50px;
          font-size: 0.8rem;
        }
      }

      .header__action {
        text-transform: uppercase;
        padding: 2.1rem 3rem;
        background: $brand-color;
        color: $dark-10;
        font-size: 1.5rem;
        font-weight: 700;
        width: 100%;
        text-align: center;
      }
    }
  }

  .hero {
    h1 {
      font-size: 3.6rem;
    }

    p {
      font-size: 1.6rem;
    }

    &__img {
      position: relative;
      margin: 0 auto;
      width: fit-content;

      img {
        max-width: 1000px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 40%;
        background: rgba($brand-color, 0.2);
        filter: blur(78px);
        z-index: -1;
        top: 0;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0%;
        left: 16%;
        width: 68%;
        height: 60%;
        background: linear-gradient(
          0deg,
          #0d0d0d 10%,
          rgba(13, 13, 13, 0) 100%
        );
        filter: blur(1px);
      }
    }
  }

  .controller {
    &__about {
      h2 {
        font-size: 2.4rem;
      }

      p {
        font-size: 1.4rem;
      }
    }
  }

  .games {
    flex-direction: column;
    gap: 4rem;
    padding: 0 1rem 0 1rem;

    &__card {
      position: relative;
      .card-logo {
        position: absolute;
        bottom: 7%;
        left: 10%;
        width: 300px;
      }

      .card-logo.fifa {
        left: 12%;
      }
    }
  }

  .faq {
    h2 {
      font-size: 2.4rem;
      margin-bottom: 4rem;
    }

    &__card {
      .card-content {
        h3 {
          font-size: 1.2rem;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }
  }

  .footer {
    &__rights {
      p {
        font-size: 1.2rem;
      }
    }
  }
}
