@import "variables";
@import "reset";
@import "mixins";
@import "header";
@import "hero";
@import "controller";
@import "games";
@import "faq";

.container {
  width: $desktop-width;
  margin: 0 auto;
}

.highlight {
  color: $brand-color;
}

.show {
  display: block;
}

.down {
  transform: rotate(180deg);
}
