.hero {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.7rem;

  h1 {
    text-shadow: -20px -12px 5px rgba($primary-color, 0.42);
    font-family: $font-title;
    font-size: 3rem;
  }
}
