* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: $main-font;
  color: $primary-color;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: $dark-color;
}

img {
  width: 100%;
}
