$primary-color: #986dff;
$secondary-color: #fff;
$dark-color: #111111;
$dark-color-opacity: rgba($dark-color, 0.72);
$border-color: #1f1f1f;
$card-color: #151515;

$main-font: "Zen Dots", cursive;
$font-title: "Audiowide", cursive;

$large-width: 70%;
$small-width: 95%;

$border-radius: 0.5rem;
