@import url("components/header.css");
@import url("components/hero.css");
@import url("components/highlights.css");
@import url("components/footer.css");

:root {
  font-size: 62.5%;

  --white-color: #f9f9f9;
  --white-color-200: #ebe9ea;
  --gray-color: #474747;
  --black-light-color: #181818;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
}

button {
  border: 0;
}
